# Server Configuration
PORT=8000
SERVER_ADDRESS=127.0.0.1:8080

# Training Hyperparameters
NUM_ROUNDS=5
BATCH_SIZE=32
LOCAL_EPOCHS=2
NUM_CLASSES=5

# Federated Learning Setup
MIN_FIT_CLIENTS=1
MIN_EVAL_CLIENTS=1
MIN_AVAIL_CLIENTS=1

# File Paths
MODEL_DIR=./global_model
TFLITE_MODEL_PATH=emotion_model.tflite
