# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# Local data and storage
local_storage/
dataset/
Duplicates/
system.log

# Model files (Optional: keep if you want the default models in Git)
# pretrained_global_model.h5
# emotion_model.tflite

# Large directories
global_model/
node_modules/
